<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devshoki.immortalservice" >


    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application>

        <service
            android:name=".core.RealImmortalService"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".core.RestartService"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".core.ImmortalAlarmReceiver"/>

        <receiver
            android:name=".core.RebootReceiver"
            android:enabled="true"
            android:exported="false"
            android:process=":remote">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
